<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for category in categories %}
        <p><a href="{% url 'category' category.slug %}">{{ category.name }}</a></p>
    {% endfor %}
<hr>

        <h2>{{ post.title }}</h2>
        <p>{{ post.mini_text }}</p>
        <p>Категория - {{ post.category }}</p>
{#    Вывод полной статьи #}
{#        <p>{{ post.text }}</p> #}
{#    Другой метод #}
{#         Теги - {% for tag in post.get_tags %}#}
         Теги - {% for tag in post.tags.all %}

                    <a href="{% url 'tag' tag.slug %}">{{ tag.name }}</a>,
                {% endfor %}
        <br>
        <small>Автор: {{ post.author }} - {{ post.published_date }}</small>
        <hr>

        <h4>Комментарии</h4>
{#    ВАРИАНТ 2#}
{#    {% for comment in comments %}#}
{#        Пользователь - {{ comment.author }}<br>#}
{#        {{ comment.text }}<br>#}
{#        Добавлен - {{ comment.created_data }}<br><br>#}
{#    {% endfor %}#}
{#    ВАРИАНТ 1#}
    {% for comment in post.comments.all %}
        Пользователь - {{ comment.author }}<br>
        {{ comment.text }}<br>
        Добавлен - {{ comment.created_data }}<br><br>
    {% endfor %}
</body>
</html>